.Rproj.user
.Rhistory
.RData
.Ruserdata
01_ImportingData.nb.html
02_HelpDataTypesConditionals.nb.html
02_HelpDataTypesFactors.nb.html
04_Plotting.nb.html
03_ForLoopsIfElseFunctions.nb.html
README.html
